body{ 
	margin: 0px; 
	background-color: black;
	color: white; 
	font-family: monospace; 
   	background-image:url(Groovy.gif);
    	font-size: 20px;
	
} 
p{
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	padding-left:30%;
}
h1{
	text-align: center;
	color: white;
}