body{ 
	margin: auto; 
	background-color: black;
	color: white; 
	font-family: monospace; 
   	background-image:url(giphy.gif);
	background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
	width: 33vw;
	
} 
p{
	border-top: 5px dotted white;
	border-bottom: 5px dotted white;
	background-color: black;
	text-align: center;
}
h1{
	text-align: center;
	color: white;
}
h2{
	text-align: center;
	color: white;
}
td{
	padding: 15px;
	text-align: left;
}
form{
   text-align: center;
}