body{ 
	margin: 0px; 
	background-color: transparent;
	color: white; 
	font-family: monospace; 
	background-image: url("https://78.media.tumblr.com/7b3b1691119481d46618db3b05c8f28c/tumblr_nrfwui3ZFD1s0wu94o1_500.gif");
} 
p{
	border-top: 5px solid red;
	border-bottom: 5px solid red;
}
